/* -- CSS RESET -- */
*{ padding: 0;
  margin; 0;
  font-size; 100%;
  line-height: 1em;
}
body {
width: 100%;
max-width: 100%;
    max-height: 100%;
font-family: 'Montserrat', sans-serif;
  margin: auto;
  color: black;s
line-height: 1.8em;
}
/*--Navigation--*/ 
nav {padding: 1.7em;
margin-bottom: 2em;
}
nav ul {text-align: right;
  text-transform: lowercase;
  letter-spacing: 10px;
}
nav ul li {
  display: inline;
  margin: 1px;
}

nav monogram {float: left;}

/*--Links--*/

.explore a {color: white;}

a {color: black;
text-decoration: none; }

nav a:hover {color: white;
border-bottom: 5px;
background: #white;
}

/*--Headings--*/
h1 {font-size: 2em;
    text-align: center;}

h2 {font-size: 20px;
    text-align: center; 
}
h3 {font-size: 3em;
    text-align: center;
    color: white;
}
h4 {font-size: 2em;
    text-align: left;
    margin: 40px;}

/*--Paragraph--*/
p, li {margin: 100px;
line-height: 30px;
font-size: 18px;
letter-spacing: 2px;}

p {font-size: 20px;
    margin-left: 12em;
    margin-right: 12em;
line-height: 40px;
letter-spacing: 2px;}

/* --Divs-- */
 .nav {
    position: absolute;
    top: 8px;
    right: 16px;}

.Iam {position: absolute;
bottom: 5em;
left: 1em;}

.explore {position: absolute;
bottom: 5em;
left: 3.5em;}

/*--Images--*/
img { display: block;
margin: auto;
    max-width: 100%;}

.monogram {
    position: absolute;
    top: 45px;
    left: 50px;
}

.me {float: centre;
max-width: 100%;
height: 100%;
width: 100%; }





/*--Text Animation--*/

.Iam {
  font:  40px/50px 'Montserrat', sans-serif;
  color: #999;
}
.Iam p {
    font-size: 70px;
  height: px;
    margin: 10px 10px 10px 10px;
    float: left;
}
.Iam b {
  float: left;
  overflow: hidden;
  height: 70px;
}
.Iam .innerIam {
    font-size: 70px;
  display: inline-block;
  color: white;
  position: relative;
  white-space: nowrap;
/*animation*/
-webkit-animation:move 15s;
   -moz-animation:move 15s;
    
/*--iteration-count--*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    
/*--delay--*/
-webkit-animation-delay:5s;
   -moz-animation-delay:5s;
}
@keyframes move{
0%  { top: 0px; }
80% { top: -285px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    80% { top: -285px; }
}


/*--Button--*/ 

.btn {
  width: 140px;
  height: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow:  rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;}

.btn:hover {
  background-color: grey;
      box-shadow: grey;
  color: #fff;
  transform: translateY(-7px);
}

/*--Grid--*/ 

    .box {background-color: #444;
        color: #fff;
        padding: 20px;
        font-size: 150%;
        max-width: 100%; 
        max-height: 100%;}

    .iam{ grid-column: col1-start / col3-start;
        grid-row: row1-start; }

    .explore { grid-column: col1-start;
        grid-row: row2-start ; }

 .me{grid-column: col3-start ;
     grid-row: row1-start / row2-end;}

    
/*--Icons--*/
.icons {margin: 0 auto;
    padding-top: 20em;
    padding-bottom: 12em;
    width: 26em;}

.icons:hover img{
    opacity: .6;
    transform: scale(.90);}

.icons img:hover{ opacity: 1;
transform: scale(1.1);}

.icons img {float: left; 
    transition: all .2s ease-in-out;
margin-left: 4em;}

/*--Footer--*/ 
footer {background-image: url(homepage.png);
     background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    width: 100%; 
color: white;
text-align: center;}

/*--tablet--*/
@media (max-width: 1000px) {
    
    
    
  body{
/*    background-color: #8080ff;*/
    width: 100%;
    
    }

    article p {
        margin-left: 6em;
        margin-right: 6em;
    }
    
  /*--smartphone--*/
  @media (max-width: 500px) {
    article p {
        margin-left: 1em;
        margin-right: 1em;
    }
      nav ul {text-align: center;
  text-transform: lowercase;
  letter-spacing: 10px;
}
nav ul li {
  display: inline;
  margin: 3px;

  }